body {
  background-image: url("https://i.pinimg.com/originals/56/76/47/56764756893504d8e21c13891570cb90.gif");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("https://media.istockphoto.com/id/1131001635/vector/butcher-man-at-meat-store-showcase-with-ham.jpg?s=612x612&w=0&k=20&c=fZBo2LTN43V89C3es46xMXdv5SScuMcZzQcnNwnmgqY=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

